# Importing the necessary packages and algorithms.

In [198]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [235]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, AdaBoostRegressor
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostRegressor, ExtraTreesRegressor
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import LabelEncoder, LabelBinarizer
from sklearn import preprocessing
from sklearn import utils
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

le = LabelEncoder()
lab = preprocessing.LabelEncoder()

# Importing the dataset

In [200]:
df = pd.read_excel("AI_Invasion_In-Class_Dataset.xlsx")

In [201]:
df.head(2)

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,Abuja,Mercedes-Benz,GLA 250,2015.0,Brown,14.50,Foreign Used,50000.0
1,Abuja,Hyundai,Accent,2013.0,Red,1.55,Nigerian Used,NaN

# Cleaning the dataset

In [202]:
# Checking to see if there are null values in the dataset
df.isnull().sum()

Location                 0
Maker                    0
Model                    0
Year                     0
Colour                   0
Amount (Million ₦)       0
Type                     0
Distance_Km           1555
dtype: int64

In [203]:
# Filling the null values with the mean of the series
df["Distance_Km"] = df["Distance_Km"].fillna(df["Distance_Km"].mean())

In [204]:
df.isnull().sum()

Location              0
Maker                 0
Model                 0
Year                  0
Colour                0
Amount (Million ₦)    0
Type                  0
Distance_Km           0
dtype: int64

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   object
 1   Maker               4487 non-null   object
 2   Model               4487 non-null   object
 3   Year                4487 non-null   float64
 4   Colour              4487 non-null   object
 5   Amount (Million ₦)  4487 non-null   float64
 6   Type                4487 non-null   object
 7   Distance_Km         4487 non-null   float64
dtypes: float64(3), object(5)
memory usage: 280.6+ KB

# Encoding the dataset

In [208]:
df["Location"] = lab.fit_transform(df["Location"])

In [209]:
df["Maker"] = lab.fit_transform(df["Maker"])

In [211]:
df["Year"] = lab.fit_transform(df["Year"])

In [212]:
df["Colour"] = lab.fit_transform(df["Colour"])

In [214]:
df["Type"] = lab.fit_transform(df["Type"])

In [215]:
df["Distance_Km"] = lab.fit_transform(df["Distance_Km"])

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   int32
 1   Maker               4487 non-null   int32
 2   Model               4487 non-null   object
 3   Year                4487 non-null   int64
 4   Colour              4487 non-null   int32
 5   Amount (Million ₦)  4487 non-null   float64
 6   Type                4487 non-null   int32
 7   Distance_Km         4487 non-null   int64
dtypes: float64(1), int32(4), int64(2), object(1)
memory usage: 210.5+ KB

In [217]:
df.drop("Model", axis = "columns", inplace = True)

In [218]:
df.head(2)

   Location  Maker  Year  Colour  Amount (Million ₦)  Type  Distance_Km
0         0     26    22       3               14.50     1          426
1         0     14    20      14                1.55     2         1220

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   int32
 1   Maker               4487 non-null   int32
 2   Year                4487 non-null   int64
 3   Colour              4487 non-null   int32
 4   Amount (Million ₦)  4487 non-null   float64
 5   Type                4487 non-null   int32
 6   Distance_Km         4487 non-null   int64
dtypes: float64(1), int32(4), int64(2)
memory usage: 175.4 KB

# Splitting the dataset for training and testing

In [220]:
#X = df.drop("Amount (Million ₦)")
y = df["Amount (Million ₦)"]

In [221]:
X = df.drop("Amount (Million ₦)", axis = 1)

# Training and Predicting the dataset

In [253]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [254]:
ada = AdaBoostRegressor()

In [255]:
lin = LinearRegression()

In [256]:
lin.fit(X_train, y_train)

LinearRegression()

In [257]:
lin.predict(X_test)

array([ 3.05795942, 27.9925128 , -2.36629564, ..., 29.9283362 ,
        2.81007762, -8.64166691])

In [258]:
ada.fit(X_train, y_train)

AdaBoostRegressor()

In [259]:
ada.predict(X_test)

array([30.35323469, 46.52368421, 25.98387097, ..., 46.34126543,
       25.98387097, 14.80933025])

In [260]:
linPred = lin.predict(X_test)

In [261]:
# Using mean absolute error because this is a regressor, not a classifier
mean_absolute_error(y_test,linPred)

7.433347777796696

In [262]:
dec = DecisionTreeRegressor()

In [263]:
dec.fit(X_train, y_train)

DecisionTreeRegressor()

In [264]:
decPred = dec.predict(X_test)

In [265]:
mean_absolute_error(y_test, decPred)

5.09200477010641