In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import sklearn

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression, GammaRegressor, HuberRegressor, PoissonRegressor, LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, AdaBoostRegressor, GradientBoostingRegressor, RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier, ExtraTreesRegressor, BaggingRegressor
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier, RadiusNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import LabelEncoder, LabelBinarizer

In [110]:
df = pd.read_excel("AI_Invasion_In-Class_Dataset.xlsx")

In [111]:
df.shape

(4487, 8)

In [112]:
df.head(5)

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,Abuja,Mercedes-Benz,GLA 250,2015.0,Brown,14.50,Foreign Used,50000.0
1,Abuja,Hyundai,Accent,2013.0,Red,1.55,Nigerian Used,NaN
2,Lagos,Lexus,GX 460 Premium,2011.0,White,14.00,Foreign Used,85000.0
3,Lagos,Lexus,ES 350,2011.0,Gray,4.95,Foreign Used,NaN
4,Ibadan,Toyota,Verso 1.6,2009.0,Silver,1.69,Nigerian Used,118906.0

In [113]:
df.columns

Index(['Location', 'Maker', 'Model', 'Year', 'Colour', 'Amount (Million ₦)',
       'Type', 'Distance_Km'],
      dtype='object')

In [114]:
df.isnull().sum()

Location                 0
Maker                    0
Model                    0
Year                     0
Colour                   0
Amount (Million ₦)       0
Type                     0
Distance_Km           1555
dtype: int64

In [115]:
meanValue = df["Distance_Km"].mean()

In [116]:
meanValue

101038.32128240108

In [117]:
df["Distance_Km"] = df["Distance_Km"].fillna( df["Distance_Km"].mean())

In [118]:
df.isnull().sum()

Location              0
Maker                 0
Model                 0
Year                  0
Colour                0
Amount (Million ₦)    0
Type                  0
Distance_Km           0
dtype: int64

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   object
 1   Maker               4487 non-null   object
 2   Model               4487 non-null   object
 3   Year                4487 non-null   float64
 4   Colour              4487 non-null   object
 5   Amount (Million ₦)  4487 non-null   float64
 6   Type                4487 non-null   object
 7   Distance_Km         4487 non-null   float64
dtypes: float64(3), object(5)
memory usage: 280.6+ KB

In [120]:
catFeatures = {"Location", "Maker", "Model", "Colour", "Type", "Year"}

In [121]:
for catFeature in catFeatures:
    print(catFeature,  df[catFeature].unique(), sep= ":")
    print("#" * 50)

Location:['Abuja' 'Lagos' 'Ibadan']
##################################################
Model:['GLA 250' 'Accent' 'GX 460 Premium' 'ES 350' 'Verso 1.6' 'Corolla 1.8 LE'
 'E350' 'GL-Class' 'RX 350 AWD' 'Land Cruiser 3.5 V6' 'Matrix'
 'Land Cruiser' 'C350' 'Corolla' 'IS 250 4WD' 'Venza V6' 'CX-7' 'RX 350'
 'Highlander Limited 4x4' 'RX' 'RX 350 F Sport AWD' 'Camry'
 'Land Cruiser 5.7 V8 VX-S' 'GLK-Class' 'Avalon' 'GS 300' 'Accord'
 '4-Runner' 'Civic' 'ES 330 Sedan' 'Corolla LE (1.8L 4cyl 2A)' 'Santa Fe'
 'Highlander' 'Elantra' '4-Runner Limited V6' 'Venza Limited FWD V6'
 'M Class ML 350 4Matic' 'M Class' 'Hyundai Kona' 'C300'
 'Camry XLE V6 FWD' 'Range Rover Velar' 'IS 250' 'Highlander Limited'
 'RAV4 Limited FWD' 'Cayenne' 'RX 330' 'RDX' 'Corolla XSE (1.8L 4cyl 2A)'
 'Micra' 'Vibe 2.4L' 'Tacoma TRD Sport' 'Focus 1.8 TDDi Viva' 'GX 460'
 'RAV4 Limited V6 4x4' 'Commander Limited 4x4' 'Tundra' 'Sonata' 'RAV4'
 'F-150' 'GX' 'GS 300 Automatic' 'Sienna' 'Altima' 'Hyundai Ioniq'
 'Tacoma' 'CLA-Class' 'Venza V6 AWD' 'MDX SUV 4dr AWD (3.7 6cyl 5A)'
 'Optima' 'Highlander V6 AWD' 'C250' 206.0 'GLK-Class 350 4MATIC'
 'ES 350 FWD' 'LX 450d' 'F-150 SuperCab 4x4' 'Avensis' 'Equus' 'ES'
 'Camry XSE (2.5L 4cyl 8A)' 'GLE-Class' 'CR-V' 'C43' 'Sienna LE 4WD'
 'RX 300 4WD' 'Accord 2.4 EX' 'Highlander Sport' 'Venza AWD'
 'Pilot EX-L 4x4 (3.5L 6cyl 5A)' 'Camry SE FWD (2.5L 4cyl 8AM)'
 '6 I Sport' 'Range Rover' 'RX 350 4WD' 'GX 460 Base' 'E550'
 'Pilot EX 4x4 (3.5L 6cyl 5A)' '528i' 'Venza LE AWD V6' 'CR-V LX AWD'
 '5 Series' 'Morning' '328i' 'Edge SE 4dr FWD (3.5L 6cyl 6A)' 'GLA-Class'
 'A-Class a 220 4MATIC' 'RX 350L Luxury FWD' 'Highlander Limited V6 4x4'
 'Highlander Limited V6' 'Accord Sport 2.0T' 'Hilux'
 'GX 470 Sport Utility' 508.0 'RX 330 AWD' '4-Runner Limited V6 4x4'
 'LX 570 (5 Seats) AWD' 'Land Cruiser Prado 2.8' 'E55' 'Almera'
 'Corolla S' 'Venza' 'Outlander XLS' 'Accord Sedan LX 3 V6 Automatic'
 'Land Cruiser Prado 4 I' 'GL-Class GL 450' 307.0 'Sportage 2 2WD LX'
 'Vibe' 'RAM' 'Titan Crew Cab SE 4x4' 'LX' 'X Class'
 'Range Rover Evoque Pure Plus AWD' 'Camry XSE FWD (2.5L 4cyl 8AM)'
 'Highlander Sport 4x4' 'Element LX Automatic' 'Genesis 5 RWD'
 'RAV4 Limited V6' 'Odyssey' 'E300' 'LX 570 AWD' 'ES 330' 'Sequoia'
 'Accord EX-L 2.0T' 'MDX' 'Aveo' 'RAV4 2.5 Sport 4x4' 'Explorer' 'iM Base'
 'H300' 'Elantra Limited' 'SLK-Class' 'Highlander 4x4' 'Avalon Limited'
 'X3' '307 2 CC' 'Tacoma TRD Off Road' 'ES 300'
 'Civic 1.4i Sport Automatic' 'Escape' 'A4' '128i' 'Edge' 'C320'
 'G-Class G 65 AMG 4MATIC' 'RX 330 AWD Off' 'RX 330 4WD'
 'Corolla L 4-Speed Automatic' 'Land Cruiser Prado 2.7' 'Wrangler' '535i'
 'Camaro' 'Quest 3.5' 'Challenger' 'IS' 'GS 350' 'LS'
 'Land Cruiser 5.7 V8 VXR' 'RAV4 XLE FWD' 'Venza XLE AWD V6' 'GX 470'
 'RAV4 2 4x4' 'Dyna' 'Corolla Verso 1.8' 'Corolla LE Eco (1.8L 4cyl 2A)'
 'Avensis 2 D Verso' 'Tacoma 4x4 Double Cab'
 '4-Runner Sport Edition 4x4 V6' 'G-Class Base G 550 AWD'
 'S-Class S 500 4MATIC L (V221)' 'Camry XLE FWD'
 'Sienna LE AWD (3.3L V6 5A)' 'G-Class Base G 500 AWD' 'GX 460 Luxury'
 'Land Cruiser Prado' 'CR-V 200i i-VTEC 4x4' 'A6 Avant 2.5 D'
 'Tacoma Limited' '4-Runner Limited 4WD' 'C-Hr Limited FWD' 'NP300'
 'LX 570' 'RAV4 Adventure AWD' 'G35' 'Camry 2.4 LE' 'GL-Class GL 550'
 'RAV4 Sport V6 4x4' 'Solara 3.3 Coupe' 'Clubman Cooper' 'Yaris'
 'RAV4 3.5 Limited 4x4' 'Passat 2 Sedan' 'GLK-Class 350'
 'Highlander XLE AWD' 'RAV4 Limited' 'Corolla Verso 1.8 Luna' 'SX'
 'Land Cruiser Prado 4' 'S-Class S 500 (W222)' 'Fusion SE AWD'
 'RX 350L Luxury AWD' 'X5 xDrive40i AWD' 'E430' 'GS' 'Civic HF Sedan EX'
 'Honda HR-V' 'GL Class' '300 300C RWD' 'Corolla LE'
 'Range Rover Evoque Matt' 'Camry LE FWD (2.5L 4cyl 8AM)' 'GX 470 Off'
 'G-Class' 'Hilux 2 VVT-i' 'Xterra SE' 'Trailrunner'
 'Land Cruiser 4.5 V8 GXR' 'RX 300 2WD' 'C240' 'C400'
 'RAV4 XLE Premium AWD' 'Hilux SR 4x4' '230E' 'CL' 'Almera Tino' 'Passat'
 'S-Class Off' 'Range Rover Evoque' 'C-Class C 300 CDI 4MATIC (W204)'
 '4-Runner Limited 4x4 V6' 'Avalon XLS' 'Land Cruiser HDJ 100'
 'Sharan 1.8 T' 'C70 Automatic' 'RX 450h' 'Veloster Automatic' 'GLS-Class'
 'Ridgeline RTX' 'ZDX Base AWD' 'Pilot' 'Sienna CE AWD'
 'Land Cruiser Prado 2.7 VVT-i' 'ES 250' 'Corolla Liftback'
 'Tacoma Access Cab' 'Cooper Cabriolet' 'Sportage 2.0L Automatic'
 'Edge SE 4dr AWD (3.5L 6cyl 6A) Off' 'Venza Limited AWD V6' 'CLS'
 'Sentra 2 SL' 'B-Class' 'CR-V Touring AWD' 'X5 3.0i' 'Range Rover Vogue'
 'Almera 1.6 Lux Automatic' 'Venza XLE AWD' 'Rolls-Royce Ghost Matt'
 'S-Class S 550' 'Sienna XLE 7 Passenger' 'TL Automatic' 'Corolla SE'
 'Altima 2.5' 'Sentra' 'X-Trail' 'Accord Sedan LX'
 'Land Cruiser 5.7 V8 VX-S Matt' 'RAV4 2 VVT-i' '4-Runner Limited'
 'G-Class G 63 AMG' 3008.0 'Range Rover Sport HSE 4x4 (5.0L 8cyl 6A)'
 'RX 300' 'Hilux WORKMATE 4x4' 'Sharan' 'Genesis 3.8' 'TL SH-AWD'
 'Rover Discovery' 'MDX 3.5L 4x4' 'MDX Tech & A-Spec Pkgs SH-AWD'
 'RX 450hL Luxury AWD' 'Cruze' 'Sienna CE' 'Golf' '7 Series'
 'Highlander Limited V6 FWD' 'LX 570 Three-Row' 'Aveo 1LT' 'SpaceWagon'
 406.0 'GLC-Class' 'A4 3 TDI Automatic' 'JAC S2' 'Yaris 1.3 VVT-i'
 'Corolla 1.4' 'Tiida' 'Highlander Limited 3.5l 4WD' 'Genesis 4.6'
 'Corolla 1.8 VVTL-i TS' 'L200 Double Cab 2.5 180hp 4WD' 'Highlander V6'
 'RX 350 FWD' 'Avalon 3' 'Carens' 'RAV4 2.2 D-4D GX' 'F-150 SuperCrew'
 'Odyssey 2.4 4WD' 'RAV4 Sport' 'Elantra 1.6 GL' 'Ridgeline'
 'Golf 2 GL 3-Door' 'Camry XSE V6 (3.5L V6 8A)' 'Sienna XLE'
 'Accord 2 Comfort Automatic' 'Forester 2.5X Limited' '4-Runner Off'
 'HS 250h' 'A6 2' 'JX 35' 'CR-V EX-L 4WD Automatic' 'Duster' 'Jetta'
 'Highlander SE 3.5L 4WD' 'Sienna CE FWD (3.3L V6 5A)'
 'Rolls-Royce Cullinan Base' 'Accord Sedan EX Automatic'
 'CR-V 2.4 EX Automatic' 'Hilux 2.4 Diesel' 'RX 400h'
 'M Class ML350 AWD 4MATIC' 'Sienna LE 7 Passenger' 'IS 350'
 'Hilux 2.7 VVT-i 4X4 SRX' 'RC 350 AWD' 'C63' 'M Class ML 320'
 'Freestar Wagon SE' 'M Class ML 350' 'IS 250 AWD'
 'Solara 3.3 Convertible' 'Camry 2.4 SE Automatic' 'Land Cruiser 3.3 DT'
 'RX 200t 2WD' 'Tacoma X Runner' 'CR-V EX Automatic' 'Elantra GLS'
 'Acadia SLE AWD' 'Rio' '3 Series' 'Fortuner' 'RAV4 3.5 Sport 4x4'
 'Mustang' 'IS 350 C' 'RAV4 3.5 Limited' 'Tacoma Access Cab V6 Automatic'
 'RAV4 LE AWD' 'M Class ML 350 4x2' 'Tucson' 'GS 250'
 'Corolla 1.4 D Automatic' 'Tacoma SR5' 'Sorento' 'Almera 1.6 Comfort'
 'Grand Caravan' 'A3' 'Corolla SE (1.8L 4cyl 2A)'
 'Highlander XLE 4x4 V6 (3.5L 6cyl 8A)' 'Corsa' 'S-Class' 'GL-Class 450'
 'RAV4 LE AWD (2.5L 4cyl 6A)' 'Highlander Limited 3.5l 4WD Off'
 '407 2 Esplanade' 'RX 350L 4WD' 'Vibe 1.8L Off' 'X5' 'Fuga' 'RX 450H AWD'
 'S Class S 63 AMG (W222)' 'EX 35' '75 2 Automatic' 407.0 'RAV4 XLE AWD'
 'Prius' 'IS 200t' 'X6' 'Cooper' 'Quest S' 'Yaris 1.3' 'E63'
 'Picnic 2 FWD' 'Camry SE FWD' 'Highlander SE' 'IVM 1021A'
 'GL Class GL 450' 'C180' 'Vibe Automatic' 'Highlander 3.5L 4WD'
 'Sienna XLE AWD (3.3L V6 5A)' 'Accord Sedan EX-L Automatic'
 'Accord Coupe 3.5 EX-L Automatic' 'Montero 3.5 AWD' 'Forte EX'
 'X4 xDrive28i Off' 'C200' 'Sienna SE 8 Passenger' 'CT' 'S Class'
 'Highlander XLE FWD' 'IS 200 Limited' 'Challenger R/T Scat Pack RWD'
 'Camry XSE FWD' 'Sienna LE & 1 Hatch' 'Accord Crosstour EX-L' 'Focus'
 'Pathfinder LE RWD SUV (3.5L 6cyl 4A)' 'Camry 3.5 LE'
 'Continental Mulliner R' 5008.0 'M Class ML 350 TEC 4Matic' 'RAV4 2.4'
 'E320' '307 X-Line 1.6' 'Gx300' 'Cerato' 'Lite-Ace' '206 1.6 Automatic'
 'Titan Crew Cab XE 4x4' 'Santa Fe 2.7 V6 4WD' 'QX'
 'G-Class Base G 55 AMG 4x4' 'FJ Cruiser Base 4x4' 3.0
 'Land Cruiser 4 V6 GXR' 'Zafira' 'Corolla 1.4 D-4d' 'Civic 1.8i VTEC'
 'Corolla CE' '4-Runner SR5 4WD' 'C-Hr' 'Beetle' 626.0
 'G-Class G 63 AMG 4MATIC' 'IS 250 AWD Automatic' 'Accord Sedan LX SE'
 'Corolla 1.8 Exclusive Automatic' 'X5 3.0i Sport' 'Sienna XLE AWD'
 'Traverse 1LT' 'Odyssey 2.4 2WD' 'MDX Base FWD' 'SL-Class'
 'Tacoma Double Cab V6 4WD' 'Accord Automatic' 'Ranger XL' 'S40 a'
 'Civic 1.8 DX' 'Qashqai' 'Cerato 1.6 LX Automatic'
 'GX 470 Sport Utility Off' 'Bentley Continental' 'Sienna LE AWD'
 'Sportage' 'Land Cruiser 5.7 V8 EXR' 'Highlander V6 4x4'
 'Santa Fe Limited' 'Pathfinder' 'RX 350 XE 4x4' 'Honda Accord' 'Picanto'
 '6 Wagon' 'RX 350 4x4' 'A7' 'Accord Crosstour EX'
 'Highlander Limited 3.5L 2WD' 'Tucson Limited AWD' 'Countryman S All4'
 'MKS EcoBoost' 'Land Cruiser Prado 3 D-4d (190 Hp)' 'Maxima' 'tC Base'
 'Pathfinder Automatic' 'Outlander' 'Rondo EX' 'Accord Sedan DX'
 'M Class ML320 TEC AWD 4MATIC' datetime.datetime(2022, 5, 2, 0, 0) '550i'
 'Camry XLE V6 (3.5L V6 8A)' 'Tucson GLS FWD' 'Jeep'
 'Highlander XLE 4x2 V6 (3.5L 6cyl 8A)' 'xB Base' 'Accord Crosstour'
 'Tacoma Double Cab V6 Automatic' 'CLA-Class Base CLA 250 FWD' '508 GT'
 'IS 250 Automatic' 'E400' 'Highlander LE 4x4 V6 (3.5L 6cyl 8A)'
 'IS 350 AWD' 'Soul Automatic' 'Xterra Automatic' 'Corolla Off'
 'IS 250 SE' 'Sentra 2 CVT' 'Venza XLE FWD' 'Quest 3.5 SE'
 'Range Rover Sport' 'RAV4 XLE AWD (2.5L 4cyl 6A)' 'Pick-Up'
 'Tacoma Cab 4WD' 'Civic LX Sedan' 'Sentra SL' 'C230' 'R-Class'
 'Avalon XLS W/ Bucket Seats' 'A-Class' 'IS 250 SE AWD'
 'H2 SUV Sport Utility' 'Sorento 3.3L SXL FWD' 200.0 'Baja Automatic' 'I8'
 'M Class ML 550 4Matic' 'Camry Automatic' 'Camry XLE FWD (2.5L 4cyl 8AM)'
 'M Class Edition 10 ML 350 4Matic' 'Civic EX-L W/Navi Hatchback'
 'Attrage' 'FX35 Base 4x2 (3.5L 6cyl 5A)' 'ES 350 F Sport FWD' 'H1'
 'Land Cruiser 4.6 V8 GXR' 'Vue' '4-Runner Limited 4x4' 'GLE-Class Matt'
 'CR-V EX-L FWD' 'Cadillac Escalade' 'Highlander LE 4x2 (2.7L 4cyl 6A)'
 'RDX Base SH-AWD' 'Highlander Limited V6 AWD' 'Golf GTI'
 'Challenger R/T CLASSIC' '206 GTi 180' 'Cooper S' 'CR-V 2 Automatic'
 'Elantra 1.6 Automatic' 'Hyundai Sonata SEL Plus' 'GLK-Class 350 SUV'
 'Accord Coupe 3.5 EX-L V6' 'MDX Base SH-AWD' 'Lamborghini Urus'
 'CX-9 Sport' 'Micra Visia 1.2' 'Mustang V6 Premium' 'RAV4 V6'
 'Land Cruiser Prado 3.4 5dr' 'F-150 SuperCab' 'Primera' 'Rogue' 'A8'
 'Avalon XSE' 'Pilot EX 4dr SUV (3.5L 6cyl 5A)' 'Sienna LE'
 'MDX Touring Package' 'CR-V 2 RVi' 'Corolla 140i GLE F-Lift'
 'CR-V 2.4 EX-L Automatic' 'Vibe AWD' 'L400' 'M6 Coupe' 'Venza LE AWD'
 'RAV4 2.5 Limited 4x4' 'LS 460 Luxury Sedan' 'QX56' 'M3 Coupe'
 'Sienna XLE FWD' 'GLS-Class GLS450 4MATIC' 'Murano' '3 1.6i' '330i'
 'Camry Hybrid' 'Pathfinder Platinum 4x4' 'Yaris 1.8 TS' 'Ranger'
 'Escape XLS 4WD Automatic' 'Q30' 'Avensis 2 Advanced' '406 2.2 Coupe'
 'Highlander XLE V6 4x2 (3.5L 6cyl 6A)' 'Sienna LE 7 Passenger Mobility'
 'RAV4 Base AWD' 'Corolla 1.6 VVT-i' 'Hyundai Creta' 'Rover Lr3'
 '4-Runner Sport Edition' 'X3 3.0i' 'Tundra 4x4 SR5 Access Cab'
 'A6 2.0T Premium FWD' 'RAV4 2 Automatic' 'RAV4 2.5 Limited'
 'Enclave CXL AWD' 'Hilux 2 VVTi SRX'
 'Land Cruiser Prado 3 D-4d (190 Hp) 7 Seats' 'RX 450H 4WD'
 'CTS Automatic' 'Venza LE FWD' 'Range Rover Sport SE' 'Picnic'
 'Sienna XLE Limited 4WD' 'Xterra' 'Legend 3.7 V6' 'Kia Rio'
 'Edge SE 4dr AWD (3.5L 6cyl 6A)' 'Frontier SVE V6 King Cab 4WD'
 'S-Class S 63 AMG 4MATIC (W222)' 'Navigator Luxury' 'Corolla 1.8 TS'
 '406 2' 'RX 350 F Sport AWD Off' 'Accord 3.5 EX-L Automatic'
 'A-Class A 220 4MATIC' 'Sonata 2.4 GL' 'Golf 1.4' 'Accord 2.4 Executive'
 'Cooper Clubman Classic' 'HiAce' 'Mustang EcoBoost Fastback' 'C450'
 'LS 460 L RWD' 'Accord Sedan EX-L' 'Tribute s Grand Touring' 'RAV4 1.8'
 'A8 4.2 Quattro' 'Avalon XLE' 'XC90 T6 AWD' 'NX 200t AWD'
 'X-Trail SV Premium' 'X6 xDrive35i AWD' 'Noah 2 FWD (8 Seater)'
 'RAV4 Sport 4x4' 'GS 450h' 'Ix35' 'Range Rover Sport HST MHEV 4x4'
 'Tacoma 4dr Double Cab' 'Focus 2.5 ST' 'S-Class S 450 4MATIC (W222)'
 'Land Cruiser 4.5 V8 VXR' 'S60' 'RAV4 2.5 4x4'
 'Highlander Hybrid Limited' 'Highlander LE Plus' 'Odyssey EX-L'
 'Corolla Sedan' '318i' 'Range Rover Sport 4.2 V8 SC' 'Vibe 1.8L'
 'Tucson GLS AWD' 'RX 350 4x4 Matt' 'Clubman' 'E500 500 Sedan' 'ForTwo 1'
 'Accord Crosstour EX-L W/Navigation AWD' 'XF 2.7'
 'Land Cruiser 100 4.2 TD' 'Accord 2.4 EX Automatic' 'F-150 XLT'
 'RX 350 F Sport FWD' '6 Series' 'NX' 'CR-V EX AWD' 'Vibe 1.8 AWD' '540i'
 'Highlander V6 FWD' 'Accord 2.2 DTEC Estate' 'Countryman S'
 'Land Cruiser J300 4' 300.0 'CLC' 'S-Class S 500 4MATIC L (V222)'
 'Enclave CX AWD' 'Tribute 3.0s 4WD Automatic' 'S-Class S 63 AMG (W222)'
 'Premacy' 'Rogue SL' 'FF' '320i' 'Traverse LTZ'
 'L200 Double Cab 2.4 181hp 4WD' 'Tacoma PreRunner Access Cab'
 'Phantom Coupe' '335i' 'ES 330 Off' 'Accord 2 Comfort' 'Urus'
 'RAV4 2 4x4 VX Automatic' 'Camry LE (2.5L 4cyl 8A)' 'Frontier King Cab'
 'Routan SEL' 'Land Cruiser Prado 3 TD' 'Terrain SLT-2 AWD'
 'RAV4 3.5 Sport' 'Sentra 2' 'LX 570 Base' 'Highlander Hybrid 4x4'
 'GLS-Class GLS550 4Matic' 'TL SH-AWD Automatic' '240SX' 'Land'
 'Venza Off' 'Accord 2.4 Type S Automatic' 'Frontier' 'RC' 'Infiniti QX80'
 'Accord 2.4 i-VTEC Exec Automatic' 'GS 350 4WD Matt' 'Fusion'
 'RAV4 SE AWD (2.5L 4cyl 6A)' 'L200 Single Cab 2.5 TD 4WD' '300C SRT8 RWD'
 'X5 xDrive50i AWD' 'Cayenne GTS' 'A6 3.2 FSI Quattro Automatic'
 'Corolla L (1.8L 4cyl 2A)' 'LX 570 (5 seats) AWD' 'Traverse'
 'Acadia SLE-1 AWD' 'Lincoln Navigator' 'S Class S 450 L (V222)'
 'Torrent Base AWD' 'Corona' 'F-650' 'Sienna CE FWD'
 'Accord Coupe 2.4ex-L Automatic' 'Escalade Off'
 'Range Rover Velar P250 SE R-Dynamic 4x4' 'RAV4 LE FWD (2.5L 4cyl 6A)'
 'TSX Automatic' 'Cooper John Cooper Works' 'Previa' 'Accord 2.4'
 'Land Cruiser 5.7 V8 GXR' 'Creta' 'ILX' 'GLS-Class GLS450 4Matic'
 'Camry 2.4 SE' 'Sienna XLE 7 Passenger Mobility' 'Corolla 1.8'
 'CX-9 Grand Touring AWD' 'CR-V 2.0i LS Automatic' 'Serena'
 'Accord 2 I-Vtec' 'Beetle 1.8 T' 'Sumo Victa Turbo DI' 'Avensis Sedan'
 'Land Cruiser Prado 3 190hp' 'Tribute' 'Hilux 2.5 D-4d 4X4 SRX'
 'Caliber 2.4 R/T' 'CLK' 'Highlander SE 4x4 V6 (3.5L 6cyl 8A)'
 '3 2.5 S Grand Touring Sedan' 'Ridgeline RTL'
 'Range Rover Velar P380 HSE R-Dynamic 4x4' 'F-150 SuperCrew 4x4'
 'Hyundai Palisade' 'Civic LX Hatchback' 'Camry SE (2.5L 4cyl 8A)' 'Sunny'
 'Beetle 2.5' 'ES 350 Luxury FWD' 'Sienna XLE Limited'
 'Accord 3.5 EX Automatic' 'Forte SX Hatchback' 'Express Cargo Van 1500'
 'Explorer Sport Track Automatic' 'Hilux SR5+ 4x4'
 'FJ Cruiser 4x4 Automatic' 'Sorento EX 4dr SUV (3.3L 6cyl 6A)' 1117.0
 'Santa Fe Sport 2.0T Off' 'Outlander 2.4' 'Avanza'
 'GLS-Class GLS63 AMG Base' 'M Class ML350 4x2' 'X5 3.0si Activity'
 'Tacoma Double Cab V6' 'Escalade' 'Corolla 1.8 CE'
 'Sienna XLE 7-Passenger AWD' '4-Runner Limited 2WD' 'C280' 'E-350'
 'GL Class GL 550' 'Peugeot 5008 2 HDi 180 GT' 'Nissan Armada' 'M6' 'TL'
 'C-HR' 'Accord Coupe EX-L' 'Range Rover Evoque HSE Dynamic 4x4 5-Door'
 'RAV4 Automatic' 'CX-9 Grand Touring' 'Charger' 'Camry Off'
 '407 2 HDi ST Comfort' 'Versa 1.8 SL Hatchback' 'Land Cruiser Matt'
 'Yaris Sedan' 'Camry 2.4 WT-i' '323i' 'Galaxy' '407 SW 3 V6 ST Sport'
 'Frontier Crew Cab SE' 'Rush 1.5 RWD' 'Range Rover Sport Autobiography'
 'CR-V EX 4dr SUV (2.4L 4cyl 5A)' '4-Runner Sport Edition 4x4 V8'
 'Camry 2.4 XLE' 'Vibe 2.4 4WD' 'Altima Sedan 3.5 S'
 'Camry 2.4 XLi Automatic' 'i8 1.5 Roadster' 'Highlander XLE' 'A5'
 'Sienna LE FWD' 'ES 350 Luxury' 'RX 350L AWD' 'ES 350 Off' '206 1.4 D'
 'RX 350 F SPORT AWD' 'CTS' 'RAV4 Limited AWD' '4-Runner Limited 4X4'
 'Elantra Touring SE Automatic' 'TSX Sport Sedan' 'Passat 2' 'GLE43'
 '406 Break 1.8i' 'Pathfinder 4' 'Solara' 'CC' 'Charger RT'
 'S-Class S 500 (W220)' 'Sorento EX'
 'Highlander XLE V6 4x4 (3.5L 6cyl 6A)' 'Highlander Base FWD' 'Passat SE'
 'IS 300 AWD' 'RX 350 2WD' 'Dart' 'Granvia' 'Fabia' 'Veloster' 'L200'
 'Sienna 7 Passenger' 'A4 4.2' 220.0 'Highlander SE 3.5L 2WD' 'X5 4.8is'
 'Pathfinder 4 V6 Automatic' 'C-Class C 300 (W204)' 'Malibu LS'
 'C-HR Limited FWD' 'XC90' 'Frontier Automatic'
 'Range Rover Velar P380 S 4x4' 'Santa Fe SE' 'Tucson Limited FWD'
 'X5 4.8i Sports Activity' 'Elantra 2' 'F-150 Super Cab 4x4' 'Navigator'
 'CX-9' 'CR-V LX 4WD Automatic' 'Outback']
##################################################
Year:[2015. 2013. 2011. 2009. 2008. 2010. 2014. 2012. 2022. 2006. 2021. 2017.
 2007. 2002. 2016. 2019. 2020. 2004. 2018. 2005. 2003. 2000. 1999. 2001.
 1989. 1998. 1982. 1994. 1993. 1997.]
##################################################
Type:['Foreign Used' 'Nigerian Used' 'Brand New']
##################################################
Colour:['Brown' 'Red' 'White' 'Gray' 'Silver' 'Black' 'Blue' 'Gold' 'Green'
 'Beige' 'Purple' 'Orange' 'Burgandy' 'Ivory' 'Pink' 'Pearl' 'Yellow'
 'Luury' 'Teal']
##################################################
Maker:['Mercedes-Benz' 'Hyundai' 'Lexus' 'Toyota' 'Mazda' 'Honda' 'Land Rover'
 'Porsche' 'Acura' 'Nissan' 'Pontiac' 'Ford' 'Jeep' 'Kia' 'Peugeot' 'BMW'
 'Mitsubishi' 'Dodge' 'Chevrolet' 'Scion' 'Audi' 'Infiniti' 'Mini'
 'Volkswagen' 'Suzuki' 'Chrysler' 'Volvo' 'Rolls-Royce' 'JAC' 'Subaru'
 'Renault' 'GMC' 'Rover' 'IVM' 'Bentley' 'Opel' 'Lincoln' 'Hummer'
 'Saturn' 'Cadillac' 'Lamborghini' 'Buick' 'Smart' 'Jaguar' 'Ferrari'
 'Tata' 'Skoda']
##################################################

In [15]:
df["Model"].value_counts()

Camry              437
Corolla            202
ES 350             188
C300               133
Accord             104
                  ...
Ranger XL            1
MDX Base FWD         1
Odyssey 2.4 2WD      1
Traverse 1LT         1
Outback              1
Name: Model, Length: 897, dtype: int64

In [122]:
df.drop("Model", axis = "columns", inplace = True)

In [123]:
encFeatures = ["Location", "Maker", "Colour", "Type", "Year"]

In [124]:
# Creating a for loop to encode
for encFeature in encFeatures:
    # Giving each "encFeature" i.e each column, a value
    df[f"{encFeature}_cat"] = df[encFeature].astype("category")
    # Converting the categorized datapoints into integers
    df[f"{encFeature}_cat"].cat.codes
    # instantiating the converted datapoints into new series/ separate from the original series
    df[f"{encFeature}_cat"] = df[f"{encFeature}_cat"].cat.codes

In [125]:
df.head()

,Location,Maker,Year,Colour,Amount (Million ₦),Type,Distance_Km,Location_cat,Maker_cat,Colour_cat,Type_cat,Year_cat
0,Abuja,Mercedes-Benz,2015.0,Brown,14.50,Foreign Used,50000.000000,0,26,3,1,22
1,Abuja,Hyundai,2013.0,Red,1.55,Nigerian Used,101038.321282,0,14,14,2,20
2,Lagos,Lexus,2011.0,White,14.00,Foreign Used,85000.000000,2,23,17,1,18
3,Lagos,Lexus,2011.0,Gray,4.95,Foreign Used,101038.321282,2,23,6,1,18
4,Ibadan,Toyota,2009.0,Silver,1.69,Nigerian Used,118906.000000,1,44,15,2,16

In [126]:
#df.drop(encFeatures, axis = 1, inplace = True)
df.drop(["Location","Maker","Year","Colour", "Type"], axis=1, inplace=True)

In [127]:
df.head()

,Amount (Million ₦),Distance_Km,Location_cat,Maker_cat,Colour_cat,Type_cat,Year_cat
0,14.50,50000.000000,0,26,3,1,22
1,1.55,101038.321282,0,14,14,2,20
2,14.00,85000.000000,2,23,17,1,18
3,4.95,101038.321282,2,23,6,1,18
4,1.69,118906.000000,1,44,15,2,16

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Amount (Million ₦)  4487 non-null   float64
 1   Distance_Km         4487 non-null   float64
 2   Location_cat        4487 non-null   int8
 3   Maker_cat           4487 non-null   int8
 4   Colour_cat          4487 non-null   int8
 5   Type_cat            4487 non-null   int8
 6   Year_cat            4487 non-null   int8
dtypes: float64(2), int8(5)
memory usage: 92.1 KB

# Performing Data Segmentation

In [129]:
X = df.drop("Amount (Million ₦)", axis = "columns")

In [130]:
X

        Distance_Km  Location_cat  Maker_cat  Colour_cat  Type_cat  Year_cat
0      50000.000000             0         26           3         1        22
1     101038.321282             0         14          14         2        20
2      85000.000000             2         23          17         1        18
3     101038.321282             2         23           6         1        18
4     118906.000000             1         44          15         2        16
...             ...           ...        ...         ...       ...       ...
4482   90282.000000             2         23           2         1        13
4483   85000.000000             2         23           2         1        14
4484   65214.000000             0         26           7         1        21
4485   45000.000000             2         23           1         1        27
4486   55000.000000             2         23          15         1        22

[4487 rows x 6 columns]

In [131]:
y

0       14.50
1        1.55
2       14.00
3        4.95
4        1.69
        ...
4482     4.60
4483     4.50
4484    10.45
4485    31.00
4486    14.00
Name: Amount (Million ₦), Length: 4487, dtype: float64

In [82]:
df["Distance_Km"].value_counts()

101038.321282    1555
75000.000000       39
65000.000000       38
85000.000000       35
80000.000000       32
                 ...
62385.000000        1
61515.000000        1
62527.000000        1
19736.000000        1
90282.000000        1
Name: Distance_Km, Length: 1933, dtype: int64

In [92]:
df["Colour_cat"].unique()

array([ 3, 14, 17,  6, 15,  1,  2,  5,  7,  0, 13, 10,  4,  8, 12, 11, 18,
        9, 16], dtype=int8)

In [93]:
df["Type_cat"].unique()

array([1, 2, 0], dtype=int8)

In [26]:
y = df["Amount (Million ₦)"]

In [27]:
y

0       14.50
1        1.55
2       14.00
3        4.95
4        1.69
        ...
4482     4.60
4483     4.50
4484    10.45
4485    31.00
4486    14.00
Name: Amount (Million ₦), Length: 4487, dtype: float64

In [132]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234, shuffle=True)

In [133]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Distance_Km   4487 non-null   float64
 1   Location_cat  4487 non-null   int8
 2   Maker_cat     4487 non-null   int8
 3   Colour_cat    4487 non-null   int8
 4   Type_cat      4487 non-null   int8
 5   Year_cat      4487 non-null   int8
dtypes: float64(1), int8(5)
memory usage: 57.1 KB

In [30]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3140, 6)
(1347, 6)
(3140,)
(1347,)

In [31]:
y_test

1070     1.45
4173     6.80
3186    10.50
3854     4.00
3910    12.90
        ...
2055     4.00
1619     5.35
3019     5.40
2664     3.75
912      3.40
Name: Amount (Million ₦), Length: 1347, dtype: float64

In [134]:
linear = LinearRegression()

In [135]:
linear.fit(X_train, y_train)

LinearRegression()

In [136]:
linear.predict(X_test)

array([-10.32917044,  11.7652606 ,  21.93416557, ...,   9.31520146,
         7.6200497 ,   9.85098018])

# Evaluating Model
### Absolute Error

In [137]:
linearPred = linear.predict(X_test)

In [138]:
mean_absolute_error(y_test, linearPred)

7.94593449242345

# Other Regressors

## Gamma Regressor

In [37]:
gamma = GammaRegressor()

In [38]:
gamma.fit(X_train, y_train)

C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:132: RuntimeWarning: divide by zero encountered in true_divide
  return -2 * (y - y_pred) / self.unit_variance(y_pred)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\linear_model\_glm\glm.py:42: RuntimeWarning: invalid value encountered in multiply
  temp = d1 * family.deviance_derivative(y, y_pred, weights)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\linear_model\_glm\glm.py:44: RuntimeWarning: invalid value encountered in matmul
  devp = np.concatenate(([temp.sum()], temp @ X))
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:326: RuntimeWarning: divide by zero encountered in log
  dev = 2 * (np.log(y_pred / y) + y / y_pred - 1)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:326: RuntimeWarning: divide by zero encountered in true_divide
  dev = 2 * (np.log(y_pred / y) + y / y_pred - 1)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:326: RuntimeWarning: invalid value encountered in add
  dev = 2 * (np.log(y_pred / y) + y / y_pred - 1)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:326: RuntimeWarning: overflow encountered in true_divide
  dev = 2 * (np.log(y_pred / y) + y / y_pred - 1)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\linear_model\_glm\glm.py:323: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res)

GammaRegressor()

In [39]:
gamma.predict(X_test)

array([11.26406602, 11.26406602, 11.26406602, ..., 11.26406602,
       11.26406602, 11.26406602])

In [40]:
gammaPred = gamma.predict(X_test)

In [41]:
mean_absolute_error(y_test, gammaPred)

9.571488888333118

# HuberRegressor

In [42]:
huber = HuberRegressor()

In [43]:
huber.fit(X_train, y_train)

HuberRegressor()

In [44]:
huber.predict(X_test)

array([ 0.58230236,  8.31099242, 10.95063323, ...,  7.12934138,
        5.54231209,  6.63405118])

In [45]:
huberPred = huber.predict(X_test)

In [46]:
mean_absolute_error(y_test, huberPred)

6.385831027536613

## PoissonRegressor

In [47]:
poison = PoissonRegressor()

In [48]:
poison.fit(X_train, y_train)

C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:132: RuntimeWarning: divide by zero encountered in true_divide
  return -2 * (y - y_pred) / self.unit_variance(y_pred)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\linear_model\_glm\glm.py:42: RuntimeWarning: invalid value encountered in multiply
  temp = d1 * family.deviance_derivative(y, y_pred, weights)
C:\Users\mojja\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:323: RuntimeWarning: divide by zero encountered in true_divide
  dev = 2 * (xlogy(y, y / y_pred) - y + y_pred)

PoissonRegressor()

In [49]:
poison.predict(X_test)

array([11.26406602, 11.26406602, 11.26406602, ..., 11.26406602,
       11.26406602, 11.26406602])

In [50]:
poisonPred = poison.predict(X_test)

In [51]:
mean_absolute_error(y_test, poisonPred)

9.571488888333118

## AdaBoostRegressor

In [52]:
ada = AdaBoostRegressor()

In [53]:
ada.fit(X_train, y_train)

AdaBoostRegressor()

In [54]:
ada.predict(X_test)

array([14.36301354, 32.71411776, 36.66129032, ..., 28.60184391,
       14.36301354, 12.53466781])

In [55]:
adaPred = ada.predict(X_test)

In [56]:
mean_absolute_error(y_test, adaPred)

20.79512160351856

## GradientBoostingRegressor

In [139]:
grad = GradientBoostingRegressor()

In [140]:
grad.fit(X_train, y_train)

GradientBoostingRegressor()

In [141]:
grad.predict(X_test)

array([ 1.62859943,  7.50274722, 14.42774657, ...,  7.03947282,
        4.73458257,  2.52282439])

In [142]:
gradPred = grad.predict(X_test)

In [143]:
mean_absolute_error(y_test, gradPred)

4.022826846434734

In [106]:
gradPred

array([ 1.62859943,  7.50274722, 14.42774657, ...,  7.03947282,
        4.73458257,  2.52282439])

## ExtraTreesRegressor

In [62]:
extra = ExtraTreesRegressor()

In [63]:
extra.fit(X_train, y_train)

ExtraTreesRegressor()

In [64]:
extra.predict(X_test)

array([ 1.744475  ,  6.9869    , 10.40466667, ...,  7.90083333,
        3.85      ,  3.7       ])

In [65]:
extraPred = extra.predict(X_test)

In [66]:
mean_absolute_error(y_test, extraPred)

4.611022033366741

## RadiusNeighborsRegressor

In [67]:
rad = RadiusNeighborsRegressor()

In [68]:
rad.fit(X_train, y_train)

RadiusNeighborsRegressor()

In [69]:
rad.predict(X_test)

C:\Users\mojja\anaconda3\lib\site-packages\sklearn\neighbors\_regression.py:470: UserWarning: One or more samples have no neighbors within specified radius; predicting NaN.
  warnings.warn(empty_warning_msg)

array([       nan,        nan,        nan, ..., 9.58333333, 5.23857143,
       3.46666667])

In [70]:
radPred = rad.predict(X_test)

C:\Users\mojja\anaconda3\lib\site-packages\sklearn\neighbors\_regression.py:470: UserWarning: One or more samples have no neighbors within specified radius; predicting NaN.
  warnings.warn(empty_warning_msg)

## RandomForestRegressor

In [71]:
random = RandomForestRegressor()

In [72]:
random.fit(X_train, y_train)

RandomForestRegressor()

In [73]:
random.predict(X_test)

array([ 1.947775  ,  6.67414996, 10.08233333, ...,  7.78190833,
        4.221417  ,  3.62483333])

In [74]:
randomPred = random.predict(X_test)

In [75]:
mean_absolute_error(y_test, randomPred)

4.2835035880504995

# Exporting for Model Deployment

In [76]:
grad = GradientBoostingRegressor()

In [77]:
import pickle

In [145]:
filename = "vehicle.sav"
pickle.dump(grad, open(filename, "wb"))

In [95]:
X

        Distance_Km  Location_cat  Maker_cat  Colour_cat  Type_cat  Year_cat
0      50000.000000             0         26           3         1        22
1     101038.321282             0         14          14         2        20
2      85000.000000             2         23          17         1        18
3     101038.321282             2         23           6         1        18
4     118906.000000             1         44          15         2        16
...             ...           ...        ...         ...       ...       ...
4482   90282.000000             2         23           2         1        13
4483   85000.000000             2         23           2         1        14
4484   65214.000000             0         26           7         1        21
4485   45000.000000             2         23           1         1        27
4486   55000.000000             2         23          15         1        22

[4487 rows x 6 columns]

In [107]:
linear = LinearRegression()

In [144]:
filename = "mypred.sav"
pickle.dump(grad, open(filename, "wb"))